* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
/*responsive*/
.layout{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
header {
    grid-area: header;
}
main {
      grid-area: main;
}
footer {
    grid-area: footer;
}

body{ 
    background: rgb(107,70,210);
    background: linear-gradient(48deg, rgba(107,70,210,1) 0%, rgba(112,8,133,1) 100%);
    text-decoration: none;
}
a{
    display: inline-block;
    justify-content: space-around;
    margin: 50px;
}
/*boton  de whatsapp*/
.whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    z-index: 100;
    transition: opacity 0.3s;
}

.whatsappButton:hover {
    opacity: 0.8;
}
.imgWhatsapp{
    height: 75px;
}

h1{
    text-align: center;
    font-size: 50px;
    margin: 65px;
}
p{  
    text-align: center;
    margin: 50px;
}
img{
    margin: 100px;
}
.buttons {
    min-width: 700px;
    display: flex;
    justify-content: center;
}
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(107,70,210,1) 0%;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(107,70,210,1) 0%;
    transition: all .4s ease-in-out;
}
  
.buttons a:hover {
    transform: scale(1.2);
}
